body{
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0.459),rgba(255, 255, 255, 0.5)), url('../images/rps.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    max-width: 960px;
}

/* Header */
.header{
    margin: 20px 0;

}
#title-pic{
    width: 100%;
    max-width: 600px;
}
/* Text Display */
.text-display{
    margin: 20px 0;
}

/* Players */
.players{
    margin: 20px 0;
}
.player-1{
    /* background: url('../images/fist.png'); */
    background-position: center;
    background-size: cover;
}
.result{
    border-radius: 3px;
}
.player-2{
    /* background: url('../images/fist-right.png'); */
    background-position: center;
    background-size: cover;
    
}
.boxes{
    height: 300px;
    border: black 1px solid;
    float: left;
}
.option{
    font-size: 40px;
    margin: 10px;
}
/* Chat */
.chat-box{
    width: 100%;
    height: 200px;
    border: 1px black solid;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    overflow-y: scroll;
}
.chat-input{
    border-radius: 5px;
    width: 90%;
    background-color: white;
    
}
.chat-submit{
    border-radius: 10px;
    background-color: white;
    height: 10px;
    
}